{% extends 'base.html' %}

{% block content %}
{% if checker %}
<div class="container mt-5">
    <p style="font-weight: 700;">You have already taken the quiz. Check your score card. You will find it in the nav bar</p>
</div>
{% else %}
<div class="container">
    <form method="post" action="{% url 'exam_quiz' category.id %}">
        {% csrf_token %}
         {% for i in question_data %}
         <p>{{forloop.counter}}.{{i.question}}</p>
         <input type="radio"  name="question_{{i.id}}" value="{{i.option_1}}">
         <label for="question_{{i.id}}">{{i.option_1}}</label><br>
         <input type="radio"  name="question_{{i.id}}" value="{{i.option_2}}">
         <label for="question_{{i.id}}">{{i.option_2}}</label><br>
         <input type="radio"  name="question_{{i.id}}" value="{{i.option_3}}">
         <label for="question_{{i.id}}">{{i.option_3}}</label><br>
         <input type="radio"  name="question_{{i.id}}" value="{{i.option_4}}">
         <label for="question_{{i.id}}">{{i.option_4}}</label><br>
         {% endfor %}
         <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endif %}

{% endblock %}